.navbar-brand {
    padding-left: 10px;
    
    }
    .navbar {
      overflow: hidden;
      background-color: #1c87c9;
      position: fixed;
      top: 0;
      width: 80%;
    }

body {background-color: #0D1B2B; overflow-x: hidden; font-family: monospace; -webkit-font-smoothing: antialiased; margin: 10%;}

img {  
    padding: 5%;
    max-width: 30%; 
    max-height: 20%; 
    height: auto;  
    border-width: 10px;
    } 
    
    .container {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
       }
       .text {
        font-size: 15px;
        width:200%;
        align-items: center;
        justify-content:baseline;


      }
      h2{
        color: goldenrod;
        font:bold;
        padding-left: 30px;
      }
      p{
        color: black;
        padding-left: 30px;
      }
      

       